<f:layout name="Default" />

<f:section name="Title">My Profile</f:section>

<f:section name="Content">
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">My name</h2>
        </div>
        <div class="panel-body">
            <f:form method="post" action="update" class="form-horizontal" object="{user}" objectName="user">
            <div class="form-group">
                <label for="inputFirstname" class="col-sm-2 control-label">Firstname</label>
                <div class="col-sm-10">
                    <f:form.textfield property="firstname" class="form-control" id="inputFirstname"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLastname" class="col-sm-2 control-label">Lastname</label>
                <div class="col-sm-10">
                    <f:form.textfield property="lastname"  class="form-control" id="inputLastname" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <f:form.submit name="saveUser" value="Save" class="btn btn-primary pull-right" />
                </div>
            </div>
            </f:form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Profile picture</h2>
        </div>
        <div class="panel-body">
            <img class="img-circle center-block" alt="{user.fullname}" src="{user.profilepictureuri}" width="200" height="200" />
            <f:form method="post" action="changeProfilepicture" class="form-horizontal" enctype="multipart/form-data">
            <div class="pull-right">
                    <label class="btn btn-default">
                        Browse <f:form.upload name="image" class="sr-only" />
                    </label>
                    <f:form.submit name="uploadImage" value="Upload" class="btn btn-primary" />
            </div>
            </f:form>
        </div>
    </div>
</div>

<div class="col-sm-6">
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">My account</h2>
    </div>
    <div class="panel-body">
    <f:form method="post" action="changePassword" class="form-horizontal" object="{account}" objectName="account">
        <div class="form-group">
            <label for="fieldIdentifier" class="col-sm-2 control-label">Identifier</label>
            <div class="col-sm-10">
                <f:form.textfield property="accountIdentifier" class="form-control" additionalAttributes="{'readonly': 'readonly'}" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-10">
                <f:form.password name="password" id="inputPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputPasswordRepeat" class="col-sm-2 control-label">Repeat Password</label>
            <div class="col-sm-10">
                <f:form.password name="passwordRepeat" id="inputPasswordRepeat" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <f:form.submit name="changePassword" value="Change Password" class="btn btn-primary pull-right" />
            </div>
        </div>
    </f:form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Delete my account</h3>
    </div>
    <div class="panel-body">
    <f:form method="post" action="delete">
        <p>We're really sorry you don't want to use SquadIT anymore. But we won't stop you. Go ahead.</p>
        <div class="checkbox">
            <label>
                <f:form.checkbox name="confirm" additionalAttributes="{'required': 'required'}" value="true" />
                Yes, I'm sure
            </label>
        </div>
        <div class="form-group">
            <f:form.submit name="delete" value="Delete" class="btn btn-danger pull-right" />
        </div>
    </f:form>
    </div>
</div>
</div>

</f:section>
