<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img src="" alt="SquadIT">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Squads <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <f:if condition="{user.squads}">
                <f:for each="{user.squads}" as="currentSquad">
                <li><f:link.action controller="squad" action="show" arguments="{squad: currentSquad}">{currentSquad.name}</f:link.action></li>
                </f:for>
                <li role="separator" class="divider"></li>
            </f:if>
            <li><f:link.action controller="Squad" action="new"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="color: green"></span> Create new..</f:link.action></li>
          </ul>
        </li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Message Board</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img width="30" class="img-circle" src="{user.profilepictureuri}" alt="Profilepicture" />
            {user.firstname} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><f:link.action controller="user" action="index">My Profile</f:link.action></li>
            <li role="separator" class="divider"></li>
            <li><f:link.action controller="authentication" action="logout">Logout</f:link.action></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
