{namespace bootstrap=TYPO3\Twitter\Bootstrap\ViewHelpers}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title><f:render section="Title" /></title>
        <f:base />
        <f:format.raw><bootstrap:include version="3" includeJQuery="true" /></f:format.raw>
    </head>
    <body>
        <div class="container">
            <f:render partial="FlashMessages" />
            <f:render partial="Navbar" />

            <h1><f:render section="Title" /></h1>
            <f:render section="Content" />
        </div>
    </body>
</html>
