<f:layout name="Default" />

<f:section name="Title">{squad.name}</f:section>

<f:section name="Content">
<div class="media">
    <div class="media-body">
        <p class="lead">{squad.description}</p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Members</h3>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                <f:for each="{squad.members}" as="member">
                    <li class="media">
                        <div class="media-left">
                            <img src="{f:uri.resource(resource: member.profilepicture)}" alt="{member.fullname}" width="100" class="img-circle media-object" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{member.fullname}</h4>
                        </div>
                    </li>
                </f:for>
                </ul>
            </div>
        </div>
    </div>
    <div class="media-right media-top">
        <img class="img-circle media-object" src="https://place-hold.it/150/888/fff&fontsize=32&text={squad.name -> f:format.crop(maxCharacters: 2, append: '')}" alt="Profile Picture" />
    </div>
</div>
<f:security.ifAccess privilegeTarget="SquadIT.WebApp:Squad.Manage">
    <div class="row">
        <div class="col-sm-offset-10 col-sm-2">
            <f:link.action action="edit" arguments="{squad: squad}" class="btn btn-primary btn-block">Edit</f:link.action>
        </div>
    </div>
</f:security.ifAccess>
</f:section>
