<f:layout name="Default" />

<f:section name="Title">Show squad"{squad.name}"</f:section>

<f:section name="Content">
    <table>
        <tr>
            <th>Name</th>
            <td>{squad.name}</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>{squad.description}</td>
        </tr>

        <tr>
            <th>Picture</th>
            <td>{squad.picture}</td>
        </tr>

        <tr>
            <th>Member</th>
            <f:for each="{squad.members}" as="member">
                <td>{member.fullname}</td>
            </f:for>
        </tr>
    </table>
    <f:form action="delete" arguments="{squad: squad}">
        <f:form.submit value="Delete" />
    </f:form>
</f:section>
