html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

#flashMessageContainer {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    max-width: 500px;
    z-index: 1000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.nav > li.dropdown > a > img.img-circle {
    margin-bottom: -10px;
    margin-top: -10px;
}

.form-errors p {
    padding: 5px;
}
