<f:layout name="Default" />

<f:section name="Title">Edit event "{event.title}"<small> - Squad {event.squad.name}</small></f:section>

<f:section name="Content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Event data</h3>
        </div>
        <div class="panel-body">
            <f:form action="update" object="{event}" objectName="event" class="form-horizontal">
            <f:form.hidden property="squad" id="squad" value="{squad}" />
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <f:form.textfield property="title" id="title" class="form-control" required="required" />
                </div>
            </div>
            <div class="form-group">
                <label for="startDate" class="col-sm-2 control-label">Start Date</label>
                <div class="col-sm-10">
                    <f:form.textfield type="datetime-local" value="{f:format.date(date: 'now', format: 'Y-m-d\TH:i')}" property="startDate" id="startDate" class="form-control" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-2 control-label">End Date</label>
                <div class="col-sm-10">
                    <f:form.textfield type="datetime-local" value="{f:format.date(date: 'now + 1 hour', format: 'Y-m-d\TH:i')}" property="endDate" id="endDate" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <f:form.textfield property="description" id="description" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="location" class="col-sm-2 control-label">Location</label>
                <div class="col-sm-10">
                    <f:form.textfield property="location" id="location" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-10">
                    <f:form.submit class="btn btn-primary btn-block" value="Update" />
                </div>
            </div>
            </f:form>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Delete the event</h3>
        </div>
        <div class="panel-body">
            <f:form action="delete" method="post" arguments="{event: event}" class="form-horizontal">
                <div class="checkbox">
                    <label>
                        <f:form.checkbox name="confirm" additionalAttributes="{'required': 'required'}" value="true" />
                        Yes, I want to delete the event "{event.title}"
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-10">
                        <f:form.submit value="Delete" class="btn btn-danger btn-block" />
                    </div>
                </div>
            </f:form>
        </div>
    </div>
</f:section>

<f:section name="BodyScripts">
<script>
$(document).ready(function() {
    $('input.form-control.f3-form-error').closest('.form-group').addClass('has-error');
});
</script>
</f:section>
