<f:layout name="Default" />

<f:section name="Title">Your dashboard</f:section>

<f:section name="Content">
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Upcoming events</h3>
            </div>
            <div class="panel-body">
                dummy
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Recent messages</h3>
            </div>
            <div class="panel-body">
                dummy
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Your squads</h3>
            </div>
            <f:if condition="{user.squads}"><f:then>
            <div class="list-group">
                <f:for each="{user.squads}" as="currentSquad">
                <f:link.action controller="squad" action="show" arguments="{squad: currentSquad}" class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <img class="img-circle media-object" src="{currentSquad.profilepictureuri}" alt="Profilepicture" width="50" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{currentSquad.name}</h4>
                            <p>{currentSquad.description}</h4>
                        </div>
                    </div>
                </f:link.action>
                </f:for>
            </div>
            </f:then><f:else>
            <div class="panel-body">
                <p>You are not part of any squad</p>
            </div>
            </f:else>
            </f:if>
        </div>
    </div>
</div>
</f:section>
